<h2> Add New Room</h2>

<form #addForm="ngForm" (ngSubmit)="Add(addForm)" class="card p-4">
  <div class="form-group">
    <!-- Remove idChambre input field -->

    <label for="numeroChambre">Room Number</label>
    <input type="number" class="form-control" id="numeroChambre" name="numeroChambre" ngModel required #numeroChambre="ngModel">
    <small class="text-danger" *ngIf="numeroChambre.invalid && (numeroChambre.dirty || numeroChambre.touched)">Room number is required.</small>
    <br>

    <label for="typeC">Room Type</label>
    <select class="form-control" id="typeC" name="typeC" ngModel required #typeC="ngModel">
      <option value="SIMPLE">Simple</option>
      <option value="DOUBLE">Double</option>
      <option value="TRIPLE">Triple</option>
    </select>
    <small class="text-danger" *ngIf="typeC.invalid && (typeC.dirty || typeC.touched)">Please select a room type.</small>
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Save</button>
  </div>
</form>

<router-outlet></router-outlet>
