<!-- App Component (app.component.html) -->
<div class="container-fluid">
  <div class="row flex-nowrap">

    <!-- Sidebar component - Affichez uniquement si showSideNavAndNavbar est vrai -->
    <div *ngIf="showSideNavAndNavbar" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content -->
    <div class="col-md-9 ms-sm-auto col-xl-10 px-md-4">
      <!-- Navbar - Affichez uniquement si showSideNavAndNavbar est vrai -->
      <div id="content" [ngClass]="{'front': showFrontOfficeNavbar}">
        <app-navbar *ngIf="showSideNavAndNavbar"></app-navbar>
        <router-outlet></router-outlet>
        <!-- Your main content goes here -->
      </div>
    </div>

  </div>
</div>
